.page-Classify {
  height: auto;
  background: #fff;

  header {
    display: flex;
    border-bottom: 2px solid #f1f3f6;
    padding-bottom: 6px;
    align-items: center;
  }

  .headerBar {
    width: 12%;
    height: 45px;
    line-height: 45px;
    text-align: center;
  }
  .page-content {
    display: flex;
    margin-top: 6px;
    background-color: #e9ecf0;
    width: 86%;
    height: 40px;

    .headerbar-content-left {
      width: 10%;
      height: 40px;
      text-align: center;
      line-height: 40px;
      background-color: #e9ecf0;
    }
    .headerbar-content-center {
      width: 90%;
      background-color: #e9ecf0;

      input {
        background-color: #e9ecf0;
        height: 20px;
        margin-top: 8px;
        font-size: 16px;
        border: none;
      }
    }
  }
}
.headerbar {
    border-bottom: 1px dashed #f1f3f6;
  }


// .catebox-details-item {
//   margin-bottom: 10px;
// }
// .catebox-details-item-pic {
//   width: 56px;
//   height: 56px;
//   margin-top: 5px;
//   margin-left: 5px;
// }

// .catebox-word {
//   font-size: 16px;
//   font-weight: 300;
// }

// nav {
//   display: flex;
//   justify-content: space-around;
// }
// section {
//   display: flex;
//   justify-content: space-around;
// }
// article {
//   display: flex;
//   justify-content: space-around;
// }
// aside {
//   display: flex;
//   justify-content: space-around;
// }

.zp-all{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 98px;
   
    // box-sizing: border-box;
    img{
     height: 98px;
    }
}
.zp-pic{
  display: flex;
  justify-content: space-around;
   
}
