.page-home {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  > div:first-child {
    // display: flex;
    // height: 100%;
    flex: 1 !important;
    display: block;
    overflow-y: auto;
    // overflow: hidden;
  }
  .am-tab-bar {
    height: 50px;

    i {
      font-size: 22px;
    }
  }
}
