
.topBar{
        display: flex;
        height:44px;  
        align-items: center;
        background: #fff;
        font-size: 20px;
        .iconfont{
            font-size: 16px;
        }

}

.filter{
    height: 44px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom:1px solid #ccc; 
    background:white;
    
    
}
.purpose{
    background:#fff;
    .purpose-list{
        display: flex;
    }
    .purpose-item {
        margin:10px 5px;
    }
    .purpose-item  a{
       display: inline-block;
       width:65.44px;
       height:24px; 
       line-height: 24px;
       text-align: center;
       background:#F7F9FA;
       font-size:12px;
    }
    .purpose-item-active {
    display: inline-block;
    width: 65.44px;
    line-height: 24px;
    height: 24px;
    text-align: center;
    background:#F7F9FA;;
    margin:10px 10px 5px 0px;
    font-size: 12px;
    
    }

}

.icon-kefu{
    font-size: 24px;
}
.icon-liebiao{
    font-size: 24px;
}
article{
    background:#ccc;
    display:flex;
}


.flowers-A img{
    width:46.8%;
    height:191.58px;
    vertical-align: middle;
    padding:8px 8px 0px 8px;
}
.flowers-word{
    box-sizing: border-box;
    width:46.8%;
    height:82px;
    background: #fff;
    line-height: 20px;
    margin-left: 8px;
   

}
.flowers-word-info{
    font-size: 12px;
    color:#232682;
    font-weight: 300;
    padding-top: 10px;
    padding-left: 8px;
    .flowers-word-info-priceinfo{
        font-size: 14px;
        font-weight: 800;
       color: #232682;
       margin-left: 5px;
      
      }
  
}
