.ww-carts {
  height: 555px;
  margin-top: 8px;
  background: chartreuse;

  box-sizing: border-box;
  h3 {
    box-sizing: border-box;
    text-align: center;
    height: 56px;
    padding: 20px 0;
    font-size: 16px;
    background: #fff;
  }

  .loves {
    padding: 8px 8px 24px;

    // 美人与鲜花
    .beauty {
      // border: thin solid grey;
      display: flex;
      height: 192px;
      // 添加阴影
      box-shadow: -6px 5px 13px #e9ecf0;
      border-radius: 6px;

      box-sizing: border-box;
      font-size: 12px;
      div:first-child {
        width: 176px;
        // flex: 1;
        img {
          height: 192px;
        }
      }
      .right {
        width: 183px;
        position: relative;
        padding: 0 20px;
        box-sizing: border-box;
        background: #fff;

        // 一往情深
        .love-you {
          height: 37px;
          padding-top: 18px;
          box-sizing: border-box;
        }
        .wuForgetMe {
          display: block;
          height: 32px;
        }
        div {
          height: 38px;
        }

        // 年销售冠军
        .chimpion {
          margin-top: 12px;
          padding: 10px 0;
          // background: greenyellow;
          box-sizing: border-box;
          white-space: nowrap;
          border-bottom: thin solid #e9ecf0;
          border-top: thin solid #e9ecf0;
        }

        // 下单
        .sale {
          position: absolute;
          bottom: 18px;
          display: flex;
          box-sizing: border-box;
          .west {
            height: 38px;
            width: 123px;
            color: #71797f;
            p {
              display: flex;
              strong {
                height: 22px;
                color: #ff734c;
                display: block;
                font-size: 22px;
              }
              s {
                display: block;
                margin-left: 6px;
                width: 31px;
                height: 15px;
                margin-top: 6px;
              }
            }
          }
          .east {
            display: flex;
            justify-content: center;
            align-items: center;
            i {
              display: block;
              font-size: 20px;
            }
          }
        }
        // =====================================================
      }
    }
  }
}
